
header{
    border-top:4px solid #00aeef;
    width: 100%;
    height: 17vh;
    display: flex;
    flex-wrap: wrap;

}
.bi-house{
    align-items: center;
    padding:  7px 10px;
    border-radius: 50px;
}
.logo-user{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 11vh;
}
.img-logo{
    display: flex;
    margin-top: .5vh;
    margin-left: 23vh;
    padding: 20px 0;
    width: 30vw;
    
}
.user{
    width: 24%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 47.5vh;
    justify-content: space-around;
}
.user .fa-bell{
    width: 32px;
    margin: auto 0;
    color: white;
    padding: 6.5px 7px;
    background-color: #F9BF3B;
    border: 1px solid #D4A434;
    border-radius: 100%;
}
.fa-envelope{
    width: 32px;
    margin: auto 0;
    color: white;
    padding: 6.5px 7px;
    background-color: #F9BF3B;
    border: 1px solid #D4A434;
    border-radius: 100%;
}
.fa-house{
    width: 32px;
    margin-top:7px;
    color: white;
    padding: 15px 7px;
    background-color: #4E585D;
    border-radius: 100%;
}
.user h2{
    font-weight: 600;
    color: #4E5862;
    margin-top:4vh;
    font-size: 1rem;
}
.eh{
    margin: auto 0;
    background-color: #E8E8E8;
    padding: 2vh;
    border-radius: 50px;
    color: #898B8D;
}
.user li{
    list-style-type: none;
}
.user .dropdown-menu {
  border-top: 3px solid #00A0E6;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(-5%)translateY(20%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.img-user i{
    width: 10vh;
    background-color: aqua;
    height: 10vh;
}
.img-logo img{
    width: 30%;
    height: auto;
}
.menu{
    position: relative;
    width: 100%;
    height: 56px;
    display: flex;
    background-color: #3A454B;
    align-items: center;
}

.menu-enlace{
    width: 70%;
    display: flex;
    margin-left: 24vh;
}
.yellow{
    background-color: #FFA800;
}
.blue{
    background-color: #00A0E6;
}
.nav{
    display: flex;
}
.nav-link{
    margin-top: .5vh;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}
.dropdown-menu {
  display: block;
  transform: translateY(10px);
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  padding: 0.5rem 0;
  border-top: 3px solid #00A0E6;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(-5%)translateY(20%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.user .dropdown-menu {
  border:1px solid #d9d2ca;
  display: block;
  transform: translateY(10px);
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  padding: 0.5rem 0;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(55%) translateY(20%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.user .dropdown.open .dropdown-menu {
  opacity: 1;
  transform:translateX(55%) translateY(1%);
  pointer-events: auto;

}
.dropdown.open .dropdown-menu {
  opacity: 1;
  transform:translateX(-6%) translateY(1%);
  pointer-events: auto;

}
.dropdown-item{
    color: #3A454B;
    width: 97%;
    margin: 5px;
    padding: 6px;
    border-radius: 0;
    transition-duration: 0.2s;
}
.dropdown-item:hover{
    background-color: #00A0E6;
    border-radius: 0;
   
}
.nav-item{
    height: 56px;
    padding: 0 4px;
}
a{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: .95rem;
    font-weight: 400;
    color: white;

    border-radius: 10px;
    transition-duration: .4s;

}
a:hover{
    color: white;
    border-radius: 10px;
}

main{
    width: 100%;
    height: 210vh;
    background-color: #F2F4F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.personal-area{
    width: 77%;
    height: 150vh;
    display: flex;
    flex-wrap: wrap;
}
.personal-area h2{
    margin-top: 5vh;
    font-weight: 400;
    color:#3a454bd7;
}
.espacio{
    width: 100%;
    height: 186vh;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    border: 1px solid rgba(0, 0, 0, 0.074);
    padding: 3.5vh;
}
.timeline{
    width: 100%;
    height: 85vh;
}
.timeline .title{
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    padding-left: 1vh;
    padding-bottom: 1vh;
    background-color: #3A454B;
}
.timer{
    width: 99%;
    height: 9vh;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.074);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.timer-container{
    margin-left: 1vh;
    margin-top: 2vh;
    width: 7vh;
    height: 3.5vh;
    border: 1px solid rgba(0, 0, 0, 0.074);
}
.fa-alarm-clock{
    width: 30px;
    height: 30px;
    color: #F9BF3B;
    margin-top: .7vh;
    
}
.fa-bars{
    width: 30px;
    height: 30px;
    margin-top: .7vh;
    color: #F9BF3B;
}
.fa-chevron-down{
    font-size: 9px;
    margin-left: 1.5vh;
    margin-top: 1vh;
    color: #F9BF3B;
}

.PA{
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}
.tarea1{
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    
}
.tarea2{
    width: 100%;
    height:40%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    
    
}
.tarea3{
    margin-top: 14vh;
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    
}


.fecha{
    width: 100%;
    font-weight: 400;
    color: #555555cd;
}
.proceso{
    width: 12vh;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;

}
.aprendizaje{
    width: 60%;
    height: 6vh;
    
}
.agregar{
    border: none;
    background-color: #B4BAB8;
    font-size: 1.2rem;
    color: white;
    padding: 1vh 2.2vh;
    border-radius: 2px;
    margin-left: 21vh;
}
.hora{
    margin-top: 1vh;
    display: flex;
    width: 5vh;

}
.info-tarea{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    color: #000000;
    align-items: center;
    border-bottom:1px solid #898b8d3c;
}
.fa-file-arrow-up{
    padding: 12px 30px 30px 15px;    width: 3vh;
    border-radius: 5px;
    color: white;
    background-color:#EB66A2;
}
.info-tarea i{
    width: 4vh;
    height: 3vh;
}

.info-tarea h5{
    margin: 0;

    color: #00aeef;
    font-size: 1.2rem;
    font-weight: 400;
    height: 3vh;

}
.info-tarea .info-curso{
    width: 90%;
    height: 5vh;
    display: flex;
}

.calendario{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.calendario .title{
    width: 100%;
    height: 4.5vh;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    padding-left: 1vh;
    padding-bottom: 1vh;
    background-color: #3A454B;
}
.calendar-border{
    margin-top: 1.1vh;
    width: 8vh;
    height: 3px;
}

.cursos{
    width: 100%;
    height: 5%;

}
.custom-select {
  margin-left: 3px;
  position: relative;
  display: inline-block;
  color: #898B8D;
  
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
  width: 17vh;
  padding: .7vh 2vh;
  border: 1px solid #898B8D;
  outline: none;
}

.flechas {
  position: absolute;
  right: 8px;
  top: 53%;

  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  font-size: 10px;
  pointer-events: none; /* no bloquea clics */
}
.button{
    margin-left: 112vh;
    border: none;
    padding: 1vh 3vh;
    border-radius: 2px;
    color: white;
}


.tabla{
    width: 100%;
    height: 70%;
    margin-bottom: 10vh;

}
table{
    width: 100%;
}
thead{
    border: 1px solid rgba(0, 0, 0, 0.152);
    border-style: dotted;
}
th{
    padding-left: 2vh;
}
th,tr, td{
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-style: dotted;
}
td{
    vertical-align: top; 
    padding: 8px;    
    padding-left: 2vh;
    height: 15vh;
    margin-top: 4vh;
}
tbody{
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-style: dotted;
    height: 100%;
}


.fecha-evento{
    margin: auto;
    width: 99%;
    height:5%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    color: #00A0E6;
}
.fecha-evento p{
    color: #4E585D;
    font-size: 1.5rem;
}
.descripcion{
    margin-top: 2vh;
    width: 100%;
    height: 3%;
    display: flex;
    color:#00A0E6;
}
.descripcion li{
    margin-left: 3vh;
    
}

.chiquito td{
    height: 3vh;
}
td .blue{
    width: 3vh;
    height: 3vh;
    padding: 1px 4px 0 4px;
    color: white;
    border-radius: 50px;
}
footer{

    width: 100%;
    height: 4vh;
    display: flex;
    flex-wrap: wrap;
}
footer div{
    width: 100%;
    height: 3px;
    margin-top: 0;
    background-color: #00A0E6;
}