
header{
    border-top:4px solid #00aeef;
    width: 100%;
    height: 17vh;
    display: flex;
    flex-wrap: wrap;

}
.bi-house{
    align-items: center;
    padding:  7px 10px;
    border-radius: 50px;
}
.logo-user{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 11vh;
}
.img-logo{
    display: flex;
    margin-top: .5vh;
    margin-left: 23vh;
    padding: 20px 0;
    width: 30vw;
    
}
.user{
    width: 24%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 47.5vh;
    justify-content: space-around;
}
.user .fa-bell{
    width: 32px;
    margin: auto 0;
    color: white;
    padding: 6.5px 7px;
    background-color: #F9BF3B;
    border: 1px solid #D4A434;
    border-radius: 100%;
}
.fa-envelope{
    width: 32px;
    margin: auto 0;
    color: white;
    padding: 6.5px 7px;
    background-color: #F9BF3B;
    border: 1px solid #D4A434;
    border-radius: 100%;
}
.fa-house{
    width: 32px;
    margin-top:7px;
    color: white;
    padding: 15px 7px;
    background-color:#0ab1f8;
    border-radius: 100%;
}
.user h2{
    font-weight: 600;
    color: #4E5862;
    margin-top:4vh;
    font-size: 1rem;
}

.user li{
    list-style-type: none;
}
.user .dropdown-menu {
  border-top: 3px solid #00A0E6;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(-5%)translateY(20%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.eh{
    width: 6vh;
    height: 6vh;
    display: flex;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    background-color: #E8E8E8;
    padding: 2vh;
    border-radius: 50px;
    color: #898B8D;
}
.img-user i{
    width: 10vh;
    background-color: aqua;
    height: 10vh;
}
.img-logo img{
    width: 30%;
    height: auto;
}
.menu{
    position: relative;
    width: 100%;
    height: 56px;
    display: flex;
    background-color: #3A454B;
    align-items: center;
}

.menu-enlace{
    width: 70%;
    display: flex;
    margin-left: 24vh;
}
.yellow{
    background-color: #FFA800;
}
.blue{
    background-color: #00A0E6;
}
.nav{
    display: flex;
}
.nav-link{
    margin-top: .5vh;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}
.dropdown-menu {
  display: block;
  transform: translateY(10px);
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  padding: 0.5rem 0;
  border-top: 3px solid #00A0E6;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(-5%)translateY(20%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.user .dropdown-menu {
  border:1px solid #d9d2ca;
  display: block;
  transform: translateY(10px);
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  padding: 0.5rem 0;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(55%) translateY(20%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.user .dropdown.open .dropdown-menu {
  opacity: 1;
  transform:translateX(55%) translateY(1%);
  pointer-events: auto;

}
.dropdown.open .dropdown-menu {
  opacity: 1;
  transform:translateX(-6%) translateY(1%);
  pointer-events: auto;

}
.dropdown-item{
    color: #3A454B;
    width: 97%;
    margin: 5px;
    padding: 6px;
    border-radius: 0;
    transition-duration: 0.2s;
}
.dropdown-item:hover{
    background-color: #00A0E6;
    border-radius: 0;
   
}
.nav-item{
    height: 56px;
    padding: 0 4px;
}
a{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: .95rem;
    font-weight: 400;
    color: white;

    border-radius: 10px;
    transition-duration: .4s;

}
a:hover{
    color: white;
    border-radius: 10px;
}

main{
    width: 100%;
    height: 94vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F4F6;
    justify-content: center;
}
.contenedor{
    width: 77.08vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    
}
.superior{
    width: 100%;
    height: 14vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.superior-paso2{
    margin-left: 1vh;
    width: 20%;
    height: 4.5vh;
    background-color: #F9BF3B;
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    border-radius: 2px;
}
.inferior{
    width: 100%;
    height: 76vh;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.071);
    border-radius: 5px;
    justify-content: space-between;
}
.inferior-paso1{
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4vh 0vh 4vh 5vh;
}
.inferior-paso1 h6,b{
    width: 100%;
    color: #3A454B;
}
.inferior-paso1 a{
    color: #00aeef;
}
.inferior-paso1 p{
    color: #4E5862;
}
.inferior-paso1 ul{
    list-style-type: none;
    color: #00A0E6;
    padding: 0;
    line-height: 3.3vh;
}
.inferior-paso2{
    width: 10%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inferior-paso2 p{
    color: #00A0E6;
    margin-top: 9vh;
}
.inferior-paso3{
    width: 48%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4vh 0vh 4vh 0vh;
}

.inferior-paso3 p{
    color: #4E5862;
}
.inferior-paso3 ul{
    list-style-type: none;
    color: #00A0E6;
    padding: 0;
    line-height: 3.3vh;
}
.inferior-paso3 a{
    color: #00aeef;
}
.inferior-paso3 div{
    width: 100%;
}
.inferior-paso3 h5,b{
    width: 100%;
    color: #3A454B;
}
footer{

    width: 100%;
    height: 4vh;
    display: flex;
    flex-wrap: wrap;
}
footer div{
    width: 100%;
    height: 3px;
    background-color: #00A0E6;
}