
header{
    border-top:4px solid #00aeef;
    width: 100%;
    height: 17vh;
    display: flex;
    flex-wrap: wrap;

}
.bi-house{
    align-items: center;
    padding:  7px 10px;
    border-radius: 50px;
}
.logo-user{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 11vh;
}
.img-logo{
    display: flex;
    margin-top: .5vh;
    margin-left: 23vh;
    padding: 20px 0;
    width: 30vw;
    
}
.user{
    width: 24%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 47.5vh;
    justify-content: space-around;
}
.user .fa-bell{
    width: 32px;
    margin: auto 0;
    color: white;
    padding: 6.5px 7px;
    background-color: #F9BF3B;
    border: 1px solid #D4A434;
    border-radius: 100%;
}
.fa-envelope{
    width: 32px;
    margin: auto 0;
    color: white;
    padding: 6.5px 7px;
    background-color: #F9BF3B;
    border: 1px solid #D4A434;
    border-radius: 100%;
}
.fa-house{
    width: 32px;
    margin-top:7px;
    color: white;
    padding: 15px 7px;
    background-color: #4E585D;
    border-radius: 100%;
}
.user h2{
    font-weight: 600;
    color: #4E5862;
    margin-top:4vh;
    font-size: 1rem;
}
.eh{
    margin: auto 0;
    background-color: #E8E8E8;
    padding: 2vh;
    border-radius: 50px;
    color: #898B8D;
}
.user li{
    list-style-type: none;
}
.user .dropdown-menu {
  border-top: 3px solid #00A0E6;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(-5%)translateY(20%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.img-user i{
    width: 10vh;
    background-color: aqua;
    height: 10vh;
}
.img-logo img{
    width: 30%;
    height: auto;
}
.menu{
    position: relative;
    width: 100%;
    height: 56px;
    display: flex;
    background-color: #3A454B;
    align-items: center;
}

.menu-enlace{
    width: 70%;
    display: flex;
    margin-left: 24vh;
}
.yellow{
    background-color: #FFA800;
}
.blue{
    background-color: #00A0E6;
}
.nav{
    display: flex;
}
.nav-link{
    margin-top: .5vh;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}
.dropdown-menu {
  display: block;
  transform: translateY(10px);
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  padding: 0.5rem 0;
  border-top: 3px solid #00A0E6;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(-5%)translateY(20%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.user .dropdown-menu {
  border:1px solid #d9d2ca;
  display: block;
  transform: translateY(10px);
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  padding: 0.5rem 0;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(55%) translateY(20%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.user .dropdown.open .dropdown-menu {
  opacity: 1;
  transform:translateX(55%) translateY(1%);
  pointer-events: auto;

}
.dropdown.open .dropdown-menu {
  opacity: 1;
  transform:translateX(-6%) translateY(1%);
  pointer-events: auto;

}
.dropdown-item{
    color: #3A454B;
    width: 97%;
    margin: 5px;
    padding: 6px;
    border-radius: 0;
    transition-duration: 0.2s;
}
.dropdown-item:hover{
    background-color: #00A0E6;
    border-radius: 0;
   
}
.nav-item{
    height: 56px;
    padding: 0 4px;
}
a{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: .95rem;
    font-weight: 400;
    color: white;

    border-radius: 10px;
    transition-duration: .4s;

}
a:hover{
    color: white;
    border-radius: 10px;
}
main{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F2F4F6;
}
.cursos-area{
    width: 1478px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.cursos-area h2{
    margin-top: 5vh;
    font-weight: 400;
    color:#3a454bd7;
}
.espacio{
    margin-top: 3vh;
    width: 100%;
    height: 864.094px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.074);
    padding: 2vh 3vh;
}
.espacio .title{
    width: 100%;
    height: 4.5vh;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.3rem;
    padding-left: 1vh;
    background-color: #3A454B;
}
.espacio-border{
    margin-top: 1.1vh;
    width: 8vh;
    height: 3px;
}
.espacio-menu{
    width: 1420px;
    height: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    align-items: center;
}

.espacio-menu button h2{
    margin: 0;
    color: white;
    display: flex;
    width: 12vh;
    align-items: center;
    justify-content:center;
}
.espacio-menu button{
    height: 4.5vh;
    background-color: #F9BF3B;
    border: 1px solid #bababa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    border-radius: 2px;
}
.espacio-menu button:nth-of-type(3){
    margin-left: 30vh;
    background-color: #FF9933;
    color: white;
    display: flex;
    width: 26vh;
    border-radius: 1px;
    align-items: center;
    justify-content:center;
}

.espacio-menu button:nth-of-type(4){
    background-color: #F9BF3B;
    color: white;
    display: flex;
    width: 12vh;
    border-radius: 1px;
    align-items: center;
    justify-content:center;
}
.espacio-menu h2:nth-of-type(2){
    margin: 0;
    color: white;
    display: flex;
    width: 10vh;
    align-items: center;
    justify-content:center;
}
.espacio-menu button:nth-of-type(1) .dropdown-menu {
  display: block;
  transform: translateY(10px);
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  padding: 0.5rem 0;
  border-top: 3px solid #00A0E6;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(-5%)translateY(20%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.espacio-menu button:nth-of-type(1).open .dropdown-menu {
  opacity: 1;
  transform:translateX(-6%) translateY(2%);
  pointer-events: auto;

}
.espacio-menu button:nth-of-type(3) .dropdown-menu {
  display: block;
  transform: translateY(10px);
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  padding: 0.5rem 0;
  border-top: 3px solid #00A0E6;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(0%)translateY(100%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.espacio-menu button:nth-of-type(3).open .dropdown-menu {
  opacity: 1;
  transform:translateX(0%) translateY(72%);
  pointer-events: auto;

}
.espacio-menu button:nth-of-type(4) .dropdown-menu {
  display: block;
  transform: translateY(10px);
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  padding: 0.5rem 0;
  border-top: 3px solid #00A0E6;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0;
  transform: translateX(0%)translateY(100%);       
  transition: all .3s ease; 
  pointer-events: none;
}
.espacio-menu button:nth-of-type(4).open .dropdown-menu {
  opacity: 1;
  transform:translateX(15%) translateY(62%);
  pointer-events: auto;

}
.form-control{
    margin-left: 27vh;
    width: 17vw;
    height: 4vh;
    border-radius: 0px;
    border: none;
    box-shadow: 0 2px 1px rgba(0,0,0,0.15);
}
.fa-magnifying-glass{
    width: 32px;
    color: white;
}
.cards-cursos{
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.233);
    display: flex;
    flex-wrap: wrap;
    height: 65vh;
    width: 100%;
    margin: auto;
}
.card-body{
   width: 300px;
   height: 105px;
}
.card{
   width: 310px;
   height: 30vh;
   margin-top: 10vh;
   margin-left: 4vh;
   border: none;
}
.card img{
    width: 300px;
    height: 175px;
}
.card-title{
    text-align: center;
    color: #555555;
}
.card-down{
    position: absolute;
    top: 25vh;
    display: flex;
    flex-wrap: wrap;
    height: 5vh;
    width: 300px;
    justify-content: space-between;
    background-color: white;
    padding: 1vh;
    
}
.card-down p {
    color: #898B8D;
}
.fa-ellipsis-vertical{
    padding: .9vh;
    height:3.7vh ;
    width: 3.7vh;
    color: #555555;
    border-radius: 50px;
    background-color: #DEE2E6;
}
.descripcion-cursos{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;

}
.descripcion-cursos  button h2{
    margin: 0;
    color: white;
    display: flex;
    width: 12vh;
    align-items: center;
    justify-content:center;
}
.descripcion-cursos button{
    margin-left: 1vh;
    height: 4.5vh;
    background-color: #F9BF3B;
    border: 1px solid #bababa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    border-radius: 2px;
}

footer{

    width: 100%;
    height: 4vh;
    display: flex;
    flex-wrap: wrap;
}
footer div{
    width: 100%;
    height: 3px;
    margin-top: 0;
    background-color: #00A0E6;
}